l
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="eNeyRHEuLWuIVPFknsPiqcgp0WXK78jsgcTmtHzODlA" />
    <meta name="keywords" content="beauty,salon,toronto,eyelashextension,nail,facial,body,cupuncture &amp; Herbal Medicine,hairmakeup" />
    <meta name="description" content="Our reasonable prices are inspired by you, hard working women who put themselves last and deserve to treat themselves. eyelashextension,nail,facial,body,cupuncture & Herbal Medicine,hairmakeup" />

    <link href="assets/styles.css" rel="stylesheet" type="text/css" />

    <title>{{ page.title }}</title> 
</head>

<body>
    <!--Main menu bar-->
    <div id="nav">
        <div id="navcontainer">
            <div id="logo">
                <a href="/"><img src="assets/nagomilogo.png" alt="Nagomi" /></a>
            </div>
            <ul id="menu">
                <li><a href="https://www.facebook.com/nagomibeautyroom">Facebook</a></li>
                <li><a href="https://www.instagram.com/nagomibeautyroom/">Instagram</a></li>
                <li><a href="contact">Contact &amp; Location</a></li>
                <li><a href="overview">日本語</a></li>
            </ul>
        </div>
    </div>

    <!--Big images and headlines-->
    <div id="herocontainer">
        <div id="gradientcontainer">
          <div id="herocontent">
            <h1>Infuse your skin with the healing powers of Japan’s organic Aloe Vera treatments.</h1>
            <p>In Japan, the inner gel of the Aloe plant is a traditional tonic for the skin, helping to nourish, moisten and balance the skin’s natural chemistry. Now the beauty secrets of Japan have travelled to you, helping to nurture and protect your skin’s natural beauty.</p>
            <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=info@nagomi.ca" class="arrow" target="_blank">Book your facial with us today! Evening appointments available.</a>
          </div>
        </div>
      </div>


    <div class="stripe"></div>

    <!-- Body -->
    <div class="content-body Home">
        {{ content }}
    </div>

    <div class="clear"></div>

    <!-- Footer -->
    <div id="footer">
        <div id="footercontent">
            <h3>Get in touch with Nagomi:</h3>
            <p><img style="width:auto; height:auto;vertical-align: middle;" img="img" alt="Phone" src="assets/phone.png" /> &nbsp; 647.993.1130 &nbsp;
                <a href="mailto:info@nagomi.ca"><img style="width:auto; height:auto; vertical-align: middle;" img="img" alt="Mail" src="assets/mail.png" border="0" /> &nbsp; info@nagomi.ca</a>
            </p>
            <p>Site contents &copy; Green Days Ltd. Site by NotRobot.</p>
        </div>
    </div>

</body>

</html>
